{% extends 'main/layout/profile.html' %}

{% block projects_tab_active %}active{% endblock %}

{% block profile_content %}

{% if projects|length > 0 %}
    <div class="project-list">
    {% for project in projects %}
    <div class="project-list-item panel panel-default">

        <div class="panel-body">
            <h3>{{ project.name }}</h3>
            {% if project.description %}
            <p>{{ project.description }}</p>
            {% else %}
            <p><em>No description available.</em></p>
            {% endif %}
            <hr>
            <div class="project-skills">
                {% for skill in project.skills.all %}
                <a href="{% url 'skills:detail' skill.id %}">
                    <span class="badge">{{ skill.name }}</span>
                </a>
                {% endfor %}
            </div>
            <hr>
            <div class="project-links">
                {% if project.homepage %}
                <a class="btn btn-default btn-sm" href="{{ project.homepage}}" target="_blank" title="Project Homepage">
                    <i class="fa fa-link"></i> Project Homepage</a>
                {% endif %}
                {% if project.github_url %}
                <a class="btn btn-default btn-sm" href="{{ project.github_url }}" target="_blank" title="Project URL">
                    <i class="fa fa-{{ project.provider }}"></i> Github Repo</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
    </div>

{% else %}
    <p>No projects found</p>
{% endif %}


{% endblock %}