{% extends 'main/layout/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="col-md-4">
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    <div class="list-group">
                        <div class="list-group-item">
                            <a href="mailto:{{ user.email }}">
                                <i class="fa fa-envelope-o"></i> {{ user.email }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 profile-main-content">
                    <div class="nav nav-tabs">
                        <li class="{% block overview_tab_active %}{% endblock %}">
                            <a href="{% url 'profile:home' user.username %}">Overview</a></li>
                        <li class="{% block projects_tab_active %}{% endblock %}">
                            <a href="{% url 'profile:projects' user.username %}">Projects</a></li>
                        <li class="{% block skills_tab_active %}{% endblock %}">
                            <a href="{% url 'profile:skills' user.username %}">Skills</a></li>
                    </div>
                    <div class="profile-sub-content">
                        {% block profile_content %}{% endblock %}
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

{% endblock %}