{% extends 'main/layout/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h2>People with Skill: {{ skill.name }}</h2>
                {% if skill_profiles|length > 0 %}
                <div class="profile-list">
                    {% for profile in skill_profiles %}

                    {% include 'main/partials/profile_item.html' %}
                    {% endfor %}
                </div>
                {% else %}
                <p><em>No people found with this skill.</em></p>
                {% endif %}

        </div>
    </div>
</div>

{% endblock %}