{% extends 'main/layout/base.html' %}

{% block content %}

<div class="container padding-top">
    <div class="row">
        <h2>Browse Skills</h2>
        {% if skills|length > 0 %}
        <div class="skill-list">
            {% for skill in skills %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><a href="{% url 'skills:detail' skill.id %}">{{ skill.name }}</a></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p><em>No skills found.</em></p>
        {% endif %}
    </div>
</div>

{% endblock %}