{% load spec_extras %}
<div class="panel panel-default profile-item">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a href="{% url 'profile:home' profile.user.username %}">
                    <img src="{{ profile.avatar_url }}" alt="" class="media-object profile-item-image">
                </a>
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <a href="{% url 'profile:home' profile.user.username %}">
                        {{ profile.user.first_name }} {{ profile.user.last_name }}
                    </a>
                </div>
                <div><b>Overall Score</b> <span class="badge">{{ profile.normalized_score | percentage }}</span>
                {% if skill %}
                <b>Skill Rating</b> <span class="badge">{{ skill | profileskillscore:profile }}</span>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>